// general styles for the project that wouldn't be a reuseable component

.airport {
  display: inline-block;
  padding: $s-4 $s-1;
  margin-top: $s-3;
  font-size: $s-1;
  font-weight: 600;
  line-height: 1;
  background-color: red;
  border-radius: 60px;
  background-color: $grey-lightest;
  &--white { background-color: $white; }
  &:before {
    content: '';
    display: inline-block;
    width: $s0;
    height: $s0;
    margin-right: $s-4;
    background-image: url('../img/icons/plane.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
}

.game {
  position: relative;
}

.game-image {
  position: relative;
  &:focus { z-index: $z-content-overlay; }
  &:before {
    // image overlay
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    @include transition;
  }
  &:after {
    // tick icon
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: block;
    width: 0;
    height: 0;
    margin: auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('../img/icons/tick.svg');
    opacity: 0;
    transform-origin: center;
    @include transition;
  }
  &:hover:before,
  &:focus:before {
    background-color: rgba($grey-darkest, .25);
    .has-limit & { background-color: transparent; }
  }
  &.is-selected {
    &:before {
      background-color: rgba($grey-darkest, .6);
    }
    &:after {
      width: 40%;
      height: 40%;
      opacity: 1;
      @include bp($lg) {
        width: 33.33%;
        height: 33.33%;
      }
    }
  }
  .has-limit &.is-selected {
    &:before {
      background-color: rgba($grey-darkest, .85);
    }
  }
}

.game-submit {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 0;
  z-index: $z-content-overlay;
  display: none;
  background-color: rgba($white, .85);
  padding: $s0 $s1;
  .has-limit & {
    display: block;
    position: sticky;
  }
}

.inline-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  > * + * { margin-top: $s-2; }
}