---
layout: default
---

<div class="vpad--xxl">
  <div class="container">
    <div class="width width--xl text--center title title--xs">
      <p>{{page.intro}}</p>
    </div>
  </div>
</div>

<div id="{{page.feature.id}}" class="vpad--xxl bg--light">
  <div class="container">
    <h3 class="sub-title sub-title--sm">Spotlight on</h3>
    <h2 class="title title--xxl">{{page.feature.title}}</h2>
    {% if page.feature.airport %}<div class="airport airport--white">Nearest airport is {{page.feature.airport}}</div>{% endif %}
    <p class="width--xl text--xxl">{{page.feature.description}}</p>
    <div class="space--sm"></div>
    <a id="track-{{page.id}}-{{page.feature.id}}-btn" href="{{page.feature.link}}" class="btn btn--sm btn--outline btn--outline-red" target="_blank">Find Out More</a>
    <div class="vpad--md">
      <div class="bg-img bg-img--1-1 bg-img--sm-4-3 bg-img--xl-16-9" style="background-image: url('{{site.img}}/content/{{page.id}}/{{page.feature.id}}.jpg');">
        <a id="track-{{page.id}}-{{page.feature.id}}-img-main" href="{{page.feature.link}}" class="bg-img__link" target="_blank"></a>
        {% if page.feature.image-attribution %}
          {% include components/image-attribution.html text=page.feature.image-attribution %}
        {% endif %}
      </div>
    </div>
    <div class="space--md"></div>
    <div class="row row--xl-4-4-4 row--gutters-lg">
      {% for topic in page.feature.topics %}
        <div class="col">
          <div class="bg-img bg-img--3-2 bg-img--md-16-9 bg-img--xl-4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{topic.id}}.jpg');">
            <a id="track-{{page.id}}-{{topic.id}}-img" href="{{page.feature.link}}" class="bg-img__link" target="_blank"></a>
            {% if topic.image-attribution %}
              {% include components/image-attribution.html text=topic.image-attribution %}
            {% endif %}
          </div>
          <div class="vpad--xs">
            <h4 class="title title--md">{{topic.title}}</h4>
            <p>{{topic.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="vpad--xxl">
  <div class="container">
    <div class="row row--6-6 row--gutters-lg">
      {% for destination in page.destinations %}
        <div class="col">
          <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{page.id}}/{{destination.id}}.jpg');">
            {% if destination.image-attribution %}
              {% include components/image-attribution.html text=destination.image-attribution %}
            {% endif %}
          </div>
          <div class="vpad--xxs">
            <h4 class="title title--lg">{{destination.title}}</h4>
            {% if destination.airport %}<div class="airport">Nearest airport is {{destination.airport}}</div>{% endif %}
            <p class="text--xl">{{destination.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include page/promo-competition.html %}