---
layout: default
---

<div class="vpad--xxl">
  <div class="container">
    <div class="text--center">
      <div class="width width--xxl">
        <p class="title title--sm">Fairytale castles and riverside villages, extravagant spa towns and medieval beauty – Germany is effortlessly romantic.</p>
      </div>
      <p class="width width--xl text--xl">{{site.description}}</p>
    </div>
    <div class="space--lg"></div>
    <div class="width width--xl">
      <div class="js-video">
        <video src="{{site.baseurl}}/_assets/video/dicover-the-romantic-side-to-germany.mp4" controls poster="{{site.img}}/content/video-thumbnail.jpg" controlsList="nodownload"></video>
      </div>
    </div>
  </div>
</div>

<div class="vpad--xxl bg--light">
  <div class="container">
    <div class="row row--6-6">
      {% assign category-pages = site.html_pages | where: 'layout', 'category' | sort: 'nav-order' %}
      {% for page in category-pages %}
        <div class="col">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg');">
            <a href="{{site.baseurl}}{{page.url}}" class="bg-img__link"></a>
            <div class="bg-img__bg-overlay"></div>
            <div class="bg-img__content">
              <div class="title title--xl">{{page.title}}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="js-game game"></div>

{% include page/promo-competition.html %}